/* .animationEffect {
  flex-basis: 100%;
  max-width: 100%;
  height: 100%;
  animation: 'visible 1000ms easy-out forward';
  animation-name: animationEffect;
}

@keyframes animationEffect {
  0% {
      opacity: 0;
      transform: translateX(-100px)
  }
  50%{
      opacity: 1;
      transform: translateX(30px)

  }
  100%{
    transform: translateX(0)

  }
} */

.root {
  flex-grow: 1;
  overflow: 'hidden';
  margin-top: '10px';
  display: 'flex';
}
.paper {
  animation-duration: '4s';
  width: '100%';
  height: '100%';
}
.paperFullSize {
  flex-basis: '100%';
  max-width: '100%';
  height: '100%';
  animation: '1000ms easy-out forward';
}

.buttonBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.showDocument {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formControl {
  // margin: theme.spacing(1);
  min-width: 120;
}
// .selectEmpty {
//   // margin-top: theme.spacing(2);
// }
.link {
  text-decoration: none;
}
.visibleIcon {
  color: #6db5cc;
  cursor: pointer;
}
.gridContainer {
  display: flex;
  margin-top: 20px;
  // height: 50em;
  // margin-left: 0px;
}
// .fab {
//   margin: theme.spacing(2);
// };
.buttons-row {
  display: flex;
  div:last-child {
    float: right;
  }
}

.eye {
  display: flex;
  align-items: center;
}

.page-title {
  font-size: 18px;
  font-weight: 800;
}

.row {
  width: 100%;
}
