.showDocument {
  display: 'flex';
  flex-direction: 'column';
  width: 100%;
  height: 100%;
  flex: 1;
}

.root {
  // flex-grow: 1;
  overflow: 'hidden';
  margin-top: '10px';
  display: 'flex';
}

.paper {
  width: '100%';
}

.buttonBar {
  display: 'flex';
  justify-content: 'space-between';
  align-items: 'center';
}
.proces {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}
.iframe {
  display: flex;
  width: 350px;
  height: 400px;
  align-items: center;
  justify-content: center;
}
