.editing-document-block {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
  .editing-form-row-button {
    display: flex;
    justify-content: flex-start;

    .button {
      margin-right: 15px;
    }
  }
  .form-label {
    padding-top: 15px;
    padding-bottom: 15px;
    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.editing-form-block {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  max-width: 40em;

  .editing-form-checkbox-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    .label {
      margin-right: 3em;
    }
  }
}
.editing-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .label {
    margin-right: 1em;
    width: 100%;
  }
  .custom-input {
    width: 100%;
  }
}
.MuiOutlinedInput-input {
  padding: 7.5px 15px !important;
}
