.book-block {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    .title {
      font-size: 18px;
      font-weight: 700;
    }
  }
  input{
    position: relative;
    border: 1px solid grey;
    height: 30px;
    border-radius: 5px;
  }
}
