.MuiTableCell-root {
  padding: 5px !important;
}

// .table .MuiPaper-root {
//   height: 50vh;
// }

.MuiPaper-root .MUIDataTable-paper-27 .MuiPaper-elevation4 .MuiPaper-rounded {
  height: 100%;
  width: 100%;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
  border-bottom: none !important;
}
.MuiIconButton-root {
  padding: 5px !important;
}

.MuiPaper-root .MUIDataTable-paper-27 .MuiPaper-elevation4 .MuiPaper-rounded {
  height: 100% !important;
}

.MuiPaper-root .MuiPaper-elevation4 .MuiPaper-rounded {
  flex: 2;
}
.MuiTableBody-root {
  height: 60vh !important;
}
.MuiPaper-root
  .MUIDataTable-paper-31
  undefined
  .MuiPaper-elevation4
  .MuiPaper-rounded {
  height: 100% !important;
}

.MuiPaper-rounded {
  border-radius: 0px !important;
}
