* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-links a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(78, 11, 11);
}

.header-items-block {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
}
.header-bar a:hover {
  color: cornflowerblue;
}

.header-links {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.header-links a:hover {
  color: crimson;
}
