.drop-zone:hover{
    background-color: #3f51b557;
        transition: background-color .40s ease-in-out;
    cursor: pointer;
}
.drop-zone{
    height: 7em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: '20px';
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}