/* .rst__rowContents {
  background-color: red;
} */

.selectFolderButton {
  width: 1000px;
  height: 18px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

// .selectFolderButton:hover {
//   // transform: translatey(-20px);
// }

.animationEffect {
  /* flex-basis: 100%;
  max-width: 100%;
  height: 100%; */
  /* animation: 'visible 1000ms easy-out forward'; */
  animation-name: animationEffect;
  animation-iteration-count: 5;
}

@keyframes animationEffect {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 1;
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
.rstcustom__row {
  opacity: 1;
  position: unset;
  span {
    font-family: 'system-ui';
    font-size: 16px;
  }
}
.rstcustom__rowContents {
  position: unset;
}
.document-state {
  position: absolute;
  right: 5px;
}
.document-data {
  position: absolute;
  right: 120px;
}

.rstcustom_toolbarButton {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rstcustom__rowSearchMatch {
  -webkit-box-shadow: inset 0 -7px 7px -3px #008dff6e;
  box-shadow: inset 0 1px 11px 1px #008dff6e;
  border-radius: 5px;
  padding: 0 7px;
}
.rstcustom__rowSearchFocus {
  -webkit-box-shadow: inset 0 -7px 7px -3px #fc2121b5;
  box-shadow: inset 0 1px 11px 1px #fc2121b5;
  border-radius: 5px;
  padding: 0 7px;
}
.rst__tree {
  height: 95%;
  width: 100%;
  position: relative;
  overflow: auto;
}
element.style {
  box-sizing: border-box;
  direction: ltr;
  height: 67vh;
  position: relative;
  width: 30em;
  will-change: transform;
  overflow: auto;
}
.ReactVirtualized__Grid {
  outline: none;
}
.rstcustom__node:hover {
  transition: color 0.4s;
}
.rstcustom__node:hover {
  color: #8c52dd;
}
.rstcustom__rowLabel {
  overflow: hidden;
  display: inline-block;
}
.rstcustom__rowToolbar {
  display: flex;
  align-items: center;
}
.table {
  flex: 2;
  width: '100%';
  border: 'solid 0px';
  height: '100%';
  background-color: '#ffffff';
  border-color: '#ffffff';
  padding: '5px';
  overflow-x: 'auto';
  overflow-y: 'auto';
}
.button {
  padding: 5px !important;
}

.resizer {
  width: 20px;
  height: 40px;
  position: relative;
  margin-top: -28px;
  pointer-events: none;
  float: right;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384.792 384.792'%3e%3cpath fill='%23b0b0b0' d='M86.436 285.188c4.704 4.752 12.319 4.74 17.011 0 4.704-4.74 4.704-12.439 0-17.179l-62.558-63.46h303.007l-62.558 63.46c-4.704 4.74-4.704 12.439 0 17.179s12.319 4.74 17.011 0l82.997-84.2c4.56-4.644 4.632-12.512-.012-17.191l-82.997-84.188c-4.704-4.74-12.319-4.74-17.011 0-4.692 4.752-4.704 12.439 0 17.191l62.558 63.448H40.89l62.558-63.46c4.704-4.752 4.692-12.439 0-17.179-4.704-4.752-12.319-4.752-17.011 0l-82.997 84.2c-4.776 4.812-4.391 12.367 0 17.191l82.996 84.188z'/%3e%3c/svg%3e");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left center;
  transition: 0.3s;
}

.resizer:before {
  content: '';
  background: transparent;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 8px;
  right: -0px;
  border: 2px solid #b0b0b0;
  border-radius: 50%;
  opacity: 1;
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-fill-mode: forwards;
}

.arrow-button {
  width: 20px;
  position: absolute;
  right: 10px; /* Расстояние от правого края окна браузера */
  top: 96%;
  z-index: 999;
}
