.row {
  display: flex;
}
.templates {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  overflow: auto;

  .starting-static-block {
    display: flex;
    flex-direction: column;
    .row-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .title-block {
      padding-top: 1em;
      .title {
        font-size: 20px;
        font-weight: 800;
        margin-right: 20px;
      }
    }
  }
  .templates-block {
    max-height: 75vh;
    display: flex;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    .templates-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      img {
        width: 10em;
      }
    }
    .templates-item:hover {
      cursor: pointer;
      box-shadow: 0px 1px 13px 2px #aaaaaa;
    }
    .templates-item-name {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;

      img {
        width: 12px;
        border-radius: 3px;
      }
      span {
        padding-left: 5px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
        max-height: 50px;
      }
    }
  }
  .document-preview-page {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
