.templates-preview-page {
  display: flex;
  flex-direction: column;
  .title-block {
    display: flex;
    align-items: center;
    padding: 10px;

    span {
      padding-left: 5px;
      font-size: 18px;
      font-weight: 700;
    }
  }
  .buttons-block {
    display: flex;
    padding-left: 10px;
    justify-content: center;

    button {
      font-size: 10px;
      line-height: initial;
    }
  }
}
.settings-block {
  display: flex;
  padding: 10px;
  .settings-item {
    margin-right: 10px;
  }
}

.iframe-block {
  padding: 1em;
  height: 55vh;
  iframe {
    width: 100%;
    height: 100%;
  }
}
.MuiButton-outlined {
  padding: 3px 3px !important;
}
