.makeStyles-root-1{
    height: 100vh;
}
.proces{
    color: rgba(0, 0, 0, 0.54);
      padding: 0;
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.00938em;
  }
  .data-document-block{
      width: 100%;
      height: 100%;
      overflow: auto;
  }